@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
}

header {
  background-color: #1b1c1d;
  color: #fff;
}
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.section {
  width: 75%;
  margin: 0 auto;

  padding: 20px;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-right: 2rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}

.hero {
  height: 70%;
  text-align: center;
  padding: 3rem;
}

.hero h3 {
  font-size: 1.9rem;
  font-weight: 300;
}

.text-primary {
  font-size: 7.5rem;
  font-weight: 400;
}

.about {
  height: 70rem;
}

.about-block {
  padding: 6rem 0;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.content-box {
  width: 50%;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content {
  width: 100%;
}

.about-content p {
  font-size: 1.8rem;
  width: 90%;
}

.image img {
  width: 100%;
  height: 100%;
}

.heading-secondary {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.quote {
  background-color: #1b1c1d;
  text-align: center;
  height: 10rem;
  color: #fff;
  padding: 3rem 0;
}

.links-block {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
  font-size: 1.4rem;
}
.about-link {
  display: flex;
  gap: 0.8rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  min-width: 11rem;
  border-radius: 0.4rem;
  font-weight: 600;
  color: #fff;
}

.about-link:nth-child(1) {
  background-color: grey;
}
.about-link:nth-child(2) {
  background-color: red;
}
.about-link:nth-child(3) {
  background-color: orange;
}

.awards-cards {
  display: flex;
  gap: 2rem;
}

.awards-card {
  border: 2px solid grey;
  width: 20%;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 1rem;
}

.awards-card h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.awards-card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: grey;
  margin-bottom: 5px;
}
.awards-card p {
  font-size: 1.2rem;
  font-weight: 600;
  color: grey;
}

.poetry {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.6rem;
}

.poetry-list {
  list-style: disc;
  padding: 0.8rem 2rem;
}

footer {
  background-color: #1b1c1d;
}

.footer {
  display: flex;
  justify-content: center;
  height: 20rem;
  align-items: center;
  color: #fff;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 200;
}

.awards h1 {
  display: flex;
  align-items: center;
}

.poetry-card {
  width: 50%;
}

.heading {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.heading .line {
  background-color: grey;

  height: 1px;
  flex-grow: 1;
}

.tech {
  width: 20%;
}

.footer div {
  width: 33%;
  height: 90%;
  padding: 3rem;
}

.footer div:not(:last-child) {
  border-right: 1px solid grey;
}

.footer h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 90%;
  }
  .links-block {
    width: 75%;
    gap: 1rem;
  }
  .material-symbols-outlined {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }

  .links-block {
    font-size: 1.4rem;
  }
  .material-symbols-outlined {
    font-size: 2rem;
  }
}

@media screen and (max-width: 976px) {
  html {
    font-size: 40%;
  }

  .links-block {
    width: 90%;
    font-size: 1.6rem;
  }
  .material-symbols-outlined {
    font-size: 2rem;
  }
}

@media screen and (max-width: 784px) {
  html {
    font-size: 35%;
  }

  .section {
    width: 100%;
  }
  .about {
    height: auto;
  }

  .about-block {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .links-block {
    font-size: 1.8rem;
  }

  .content-box {
    justify-content: center;
    gap: 1rem;
    flex: 0 0 auto;
  }
  .image {
    order: -1;
    flex: 1 0 40rem;

    height: auto;
  }
  .poetry {
    flex-wrap: wrap;
  }
  .poetry-card {
    flex: 1 0 42rem;
  }

  .footer {
    height: auto;
    flex-wrap: wrap;
  }

  .disclaimer,
  .tech,
  .author {
    flex: 1 0 auto;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .about-block {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .content-box {
    justify-content: center;
    gap: 1rem;
    flex: 1 0 auto;
  }
  .links-block {
    font-size: 1.6rem;
  }

  .awards-cards {
    flex-wrap: wrap;
  }

  .awards-card {
    flex: 1 0 43rem;
  }
}
